#contact
{
    display: flex;
    flex-direction: column;
    background-color: #ecebeb;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.contact > h1
{
    padding-bottom: 1.5rem;
}

.contact__body
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.body__top
{
    display: flex;
    gap: 1rem;
}

.body__top > p
{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
}

.body__top > p >input
{
    padding: 1rem 9rem 1rem 1rem;
    border-radius: 15px;
    border: 2px solid #d9d9d9;
}

.body__down
{
    display: flex;
}

.body__down > p
{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
}

.body__down > p > textarea
{
    padding: 1rem 29rem 5rem 1rem ;
    border-radius: 15px;
    border: 2px solid #d9d9d9;
}

.a
{
    text-decoration: none;
    
}
.ab
{
    align-items: center;
    justify-content: center;
    margin: auto;
}